numpy<2
pillow
einops
pycocotools
psutil
open-clip-torch
huggingface_hub
spaces
setuptools<81
git+https://github.com/facebookresearch/segment-anything.git
git+https://github.com/facebookresearch/segment-anything-2.git
git+https://github.com/facebookresearch/sam3.git
